* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(229, 186, 229);
    font-family: cursive;
    color: rgb(45, 108, 167);
    text-align: center;
}

#main {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text {
    width: 100%;
    margin: 30px auto;
}

.start {
    height: 50px;
    width: 200px;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.start:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.start:active {
	position:relative;
	top:1px;
}

.restart {
    height: 50px;
    width: 200px;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.restart:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.restart:active {
	position:relative;
    top:1px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 1.5px;
}

.welcome {
    margin-bottom: 30px;
}

.game_text {
    margin-bottom: 30px;
}

.buttons {
    margin: 30px 0;
}

.top-buttons {
    font-size: 0;
}

.bottom-buttons {
    font-size: 0;
}

.btn {
    width: 170px;
    height: 170px;
    font-size:5rem;
    font-weight: bold;
    outline: none;
}

#red {
    background-color: red;
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 4px solid black;
    border-top-left-radius: 100%;
}

#yellow {
    background-color: yellow;
    border-top: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-bottom-right-radius: 100%;
}

#blue {
    background-color: blue;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-bottom-left-radius: 100%;
}

#green {
    background-color: green;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top-right-radius: 100%;
}

.clicked {
    background-color: white;
    box-shadow: 5px 5px 5px black, -5px -5px 5px black;
}






@media screen and (max-width: 500px) {
    #main {
        margin-top: 10%;
    }

    h1 {
        font-size: 2rem;
    }

    .btn {
        width: 140px;
        height: 140px;
    }

}

@media screen and (max-width: 350px) {
    #main {
        margin-top: 20%;
    }

    h1 {
        font-size: 1.3rem;
    }

    .btn {
        width: 105px;
        height: 105px;
    }
}

